@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

/* layout global */

html {
    scroll-behavior: smooth;
}

.header,
.footer,
main {
    border: 1px solid rgb(176, 176, 180);
    padding: 1rem;
}

body {
    height: 100vh;
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

main {
    /* Definimos el display para tener gap */
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu.full-menu {
    display: none;
}

menu.mobile-menu {
    width: 2.5rem;
}

.menu {
    color: var(--color-primary);
    list-style: none;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.dark .menu {
    color: var(--color-dark-secondary);
}

dialog.menu-dialog {
    width: 60vw;
    max-width: 100vh;
    height: 100vh;
    max-height: 100vh;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    opacity: 0.95;
    padding: 1rem;

    menu {
        margin-block: 1rem;
    }
}

.dark dialog.menu-dialog {
    background-color: var(--back-dark-color);

    menu {
        color: var(--color-dark-primary);
    }
}

/* From Uiverse.io by Yaya12085 */
.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all 0.3s ease;
}

.switch:checked {
    background-color: var(--color-primary);
}

.switch::before {
    position: absolute;
    content: '';
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all 0.3s ease;
}

.switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(236, 72, 153, 0.15);
}

.switch:checked:before {
    transform: translateX(100%);
    border-color: var(--color-primary);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        width: auto;
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    svg {
        width: 3rem;
        fill: var(--color-primary);
    }
}

.dark footer.footer {
    svg {
        fill: var(--color-dark-secondary);
    }
}

.personal-info {
    .mas-info {
        display: none;
    }
}

.projects {
    header,
    article {
        margin-block: 1rem;
    }
}

.articles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.label {
    display: grid;
    margin-block: 0.2rem;
}

fieldset {
    margin-block: 0.2rem;
    padding: 0.4rem;
}

.button-wrapper {
    margin-block: 0.5rem;

    button {
        padding: 0.2rem 0.4rem;
    }
}

.todo {
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        gap: 1rem;
    }
    li {
        padding: 1rem;
        border: 1px solid;
        border-radius: 10px;
    }
}

@media (width > 500px) {
    menu.full-menu {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        a {
            border: 1px solid ghostwhite;
            display: block;
            padding: 0.5rem 1rem;
            /* transition-property: all;
            transition-duration: 1s;
            transition-delay: 1s;
            transition-timing-function: linear */
            transition: all 0.3s ease-in-out;
        }
        a:hover {
            /* font-size: var(--size-large);
            padding: 0.2rem 0.5rem; */
            border: 1px solid rgb(144, 144, 152);
            transform: scale(1.2);
        }
    }

    menu.mobile-menu {
        display: none;
    }

    .personal-info {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & > p {
            padding-inline-end: 1rem;
        }
        hgroup {
            grid-column: span 2;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        .mas-info {
            display: initial;
        }
    }

    .todo {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(199, 156, 93);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(255, 136, 0);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
    display: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition:
        left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition:
        left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition:
        left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow:
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=');
    background-color: blue;
}

.ui-switch input:active + .slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}

/* 
Al usar repeat(auto-fit, minmax(17rem, 1fr)) 
no necesitamos media queries para el grid

@media (width > 550px) {
    .articles-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
} */

/* 
Una media query puede cambiar los valores de una variable root
@media (width > 700px) {
    :root{
        --base: 1.2rem
    }
} */
